version: 2.1

jobs:
  deploy:
    docker:
      - image: cimg/node:20.18.1
    parallelism: 1
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Build project
          command: npm run build
      - run:
          name: Generate checksums
          command: cd dist && find . -type f -print0 | xargs -0 shasum -a 256 > ../shasum.256.asc && cd .. && cp shasum.256.asc dist/
      - run:
          name: Create release archive
          command: zip -r qrl-offline-wallet.zip dist
      - run:
          name: Install semantic-release
          command: sudo npm install -g semantic-release@23
      - run:
          name: Publish Release on GitHub
          command: semantic-release

workflows:
  version: 2
  main:
    jobs:
      - deploy:
          filters:
            branches:
              only: master
